/* 	global css rules in hw2 pages like font-family (@font-face), boxes, and login-register inputs
	author: 9231018;
	date: 11-11-16;
	version: 0.1;
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-15 {
    font-size: 15px;
}

.material-icons.md-10 {
    font-size: 10px;
}

.material-icons.md-orange {
    color: #F39C12;
}

.material-icons.md-gray {
    color: #B2BABB;
}

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam.eot');
    src: url('../assets/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam.woff') format('woff'),
    url('../assets/fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam-Bold.eot');
    src: url('../assets/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam-Bold.woff') format('woff'),
    url('../assets/fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam-Light.eot');
    src: url('../assets/fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam-Light.woff') format('woff'),
    url('../assets/fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
    height: 100%;
    background-color: #2874A6;
    min-width: 420px;
    font-family: Shabnam, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    height: 90%;
}

.site_header {
    background-color: #566573;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 64px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.header_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.header_image {
    float: left;
    padding: 10px 0 0;
}

.header_widget {
    float: right;
    text-align: right;
    padding: 0 24px;
}

ol, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0275d8;
    outline: none;
}

a:hover {
    color: #014c8c;
}

a:focus {
    border-color: #e74c3c;
}

.menu {
    line-height: 1;
    width: 100%;
}

.menu .menu_item {
    display: inline-block;
    text-align: right;
}

.menu .menu_item a {
    display: block;
    padding: 30px 0 30px 24px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.site_inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.card_outer {
    display: table;
    height: 100%;
    width: 100%;
}

.card_miidle {
    display: table-cell;
    vertical-align: middle;
}

.card_inner {
    margin: 0 auto;
    width: 25rem;
    text-align: right;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: #FAFAFA;

    color: #757575;

    border-radius: 4px;
    border-color: #abb2b9;
}

.card_header {
    padding: 15px;
    border-bottom: 1px solid;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-size: 1.3rem;
}

.card_body {
    padding: 3rem 2rem 1rem;
    position: relative;
}

.canter_text {
    text-align: center;
}

.btn {
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 400;

    margin: 6px;
    padding: 0.6rem 2.13rem 0.85rem;
    border: 0 none;
    border-radius: 2px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #2bbbad;

    text-align: center;
    vertical-align: middle;

    width: 100%;
}

.btn:hover, .btn:focus {
    background-color: #30cfc0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;
}

.card_body a {
    color: #757575;
}

.underlineLink {
    border-style: none none solid;
    border-width: 1px;
    padding-bottom: 2px;
}

.underlineLink:hover, .underlineLink:focus {
    border-width: 2px;
}

.card_footer {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    background-color: #d5d8dc;
    font-size: 1.2rem;
}

.card_inner img {
    border-radius: 50%;
}