/* 	css rules for register.html page
	author: 9231018;
	date: 11-11-16;
	version: 0.1;
*/

.card_form {
    position: relative;
    margin-bottom: 2rem;
    direction: rtl;
}

.card_form #register_rules_label a {
    text-decoration: none;
    outline: none;
    color: #2980B9;
    font-weight: bold;
}

.card_form #register_rules_label a:hover {
    color: #3498DB;
}

.card_form .card_icon {
    position: absolute;
    width: 2rem;
    right: 0;
}

.card_form input[type=checkbox] {
    left: 9999px;
    position: absolute;
    visibility: hidden;
}

.card_form input[type="checkbox"] + label {
    padding-right: 2rem;
}

.card_form input[type="checkbox"] + label::before {
    border: 2px solid #e74c3c;
    border-radius: 1px;
    content: "";
    height: 1rem;
    right: 0;
    margin-top: 2px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 1rem;
    z-index: 0;
}

.card_form input[type="checkbox"]:checked + label::before {
    backface-visibility: hidden;
    border-color: transparent #2bbbad #2bbbad transparent;
    border-style: solid;
    border-width: 2px;
    height: 1.2rem;
    right: 0.8rem;
    top: -4px;
    transform: rotate(40deg);
    transform-origin: 100% 100% 0;
    width: 0.5rem;
}

.card_form input[type=text],
.card_form input[type=email],
.card_form input[type=password] {
    margin-right: 2rem;
    width: calc(100% - 3rem);
    border-style: none none solid;
    box-sizing: content-box;
    height: 2.1rem;
    background-color: transparent;
    border-color: #e74c3c;
    /*text-align: right;*/
    direction: rtl;
}

.card_form input[type=text]:focus,
.card_form input[type=text]:valid,
.card_form input[type=email]:focus,
.card_form input[type=email]:valid,
.card_form input[type=password]:focus,
.card_form input[type=password]:valid {
    box-shadow: none;
    outline: none;
    border-color: #2bbbad;
}

.card_form input[type=text]::-webkit-input-placeholder,
.card_form input[type=email]::-webkit-input-placeholder,
.card_form input[type=password]::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card_form input[type=text]:focus::-webkit-input-placeholder,
.card_form input[type=text]:valid::-webkit-input-placeholder,
.card_form input[type=email]:focus::-webkit-input-placeholder,
.card_form input[type=email]:valid::-webkit-input-placeholder,
.card_form input[type=password]:focus::-webkit-input-placeholder,
.card_form input[type=password]:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

.card_form input[type=text]:focus + .card_icon,
.card_form input[type=email]:focus + .card_icon,
.card_form input[type=password]:focus + .card_icon {
    color: #1abc9c;
}